.container {
  display: flex;
  align-items: center;
  height: 950px;
}

.clock {
  font-size: 300px;
  margin: auto;
  color: aqua;
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

body {
  background-color: black;
}
