.container {
  display: flex;
  align-items: center;
  height: 700px;
}

.timer {
  margin: auto;
  font-size: 200px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

button {
  font-size: 50px;
  display: flex;
  margin: auto;
  background: unset;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.reset {
  font-size: 50px;
  display: flex;
  margin: auto;
  background: unset;
  border: 0;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
}

a:link, a:visited {
  text-decoration: none;
}

body {
  background-color: black;
}
